USE [IPB2_OnlineBusBooking]
GO
/****** Object:  Table [dbo].[Tbl_Book]    Script Date: 3/19/2026 12:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Book](
	[ID] [varchar](100) NOT NULL,
	[ScheduleId] [varchar](100) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Phoneno] [varchar](50) NOT NULL,
	[Seatno] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_BusDetail]    Script Date: 3/19/2026 12:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_BusDetail](
	[Id] [nvarchar](100) NOT NULL,
	[BusNo] [nvarchar](10) NOT NULL,
	[BusName] [nvarchar](100) NOT NULL,
	[BusType] [nvarchar](10) NOT NULL,
	[TotalSeat] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Payment]    Script Date: 3/19/2026 12:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Payment](
	[Id] [nvarchar](100) NOT NULL,
	[BookId] [nvarchar](100) NOT NULL,
	[PaymentType] [nvarchar](50) NOT NULL,
	[Payment] [nvarchar](50) NOT NULL,
	[CardNo] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [date] NOT NULL,
	[IsDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Route]    Script Date: 3/19/2026 12:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Route](
	[Id] [nvarchar](100) NOT NULL,
	[RouteName] [nvarchar](50) NOT NULL,
	[Origin] [nvarchar](100) NOT NULL,
	[Destination] [nvarchar](100) NOT NULL,
	[IsDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Schedule]    Script Date: 3/19/2026 12:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Schedule](
	[Id] [nvarchar](100) NOT NULL,
	[BusId] [nvarchar](100) NOT NULL,
	[Date] [date] NOT NULL,
	[Fare] [int] NOT NULL,
	[ArrivalTime] [nvarchar](20) NOT NULL,
	[DepartureTime] [nvarchar](20) NOT NULL,
	[RouteId] [nvarchar](100) NOT NULL,
	[AvaliableSeat] [int] NOT NULL,
	[BookSeat] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Tbl_Book] ([ID], [ScheduleId], [Username], [Phoneno], [Seatno], [IsDelete]) VALUES (N'045fcbca-7066-4257-a9ce-8c06820245c2', N'f3347d4c-7b54-436a-8ded-716f64a3be22', N'poepoeaye', N'09977722804', 6, 0)
INSERT [dbo].[Tbl_Book] ([ID], [ScheduleId], [Username], [Phoneno], [Seatno], [IsDelete]) VALUES (N'24cc9224-14c9-49f9-8415-3c17e5a3290d', N'f3347d4c-7b54-436a-8ded-716f64a3be22', N'oo', N'09999999', 15, 0)
INSERT [dbo].[Tbl_Book] ([ID], [ScheduleId], [Username], [Phoneno], [Seatno], [IsDelete]) VALUES (N'3e9b6ed6-3cd5-4e9b-a83c-c7466fae0d7f', N'f3347d4c-7b54-436a-8ded-716f64a3be22', N'ee', N'0999999', 12, 0)
GO
INSERT [dbo].[Tbl_BusDetail] ([Id], [BusNo], [BusName], [BusType], [TotalSeat], [IsDelete]) VALUES (N'91c04042-53fa-498b-84cc-70de30ee8ef4', N'YGN009', N'Aung Sit Khine', N'AC', 60, 0)
INSERT [dbo].[Tbl_BusDetail] ([Id], [BusNo], [BusName], [BusType], [TotalSeat], [IsDelete]) VALUES (N'972423a3-d218-4252-b833-dfa2be38da41', N'B123', N'ASK', N'Normal', 30, 1)
INSERT [dbo].[Tbl_BusDetail] ([Id], [BusNo], [BusName], [BusType], [TotalSeat], [IsDelete]) VALUES (N'd0dd8663-6068-4aa1-a50a-1c91a4ac0b00', N'B001', N'Asia', N'AC', 20, 0)
GO
INSERT [dbo].[Tbl_Route] ([Id], [RouteName], [Origin], [Destination], [IsDelete]) VALUES (N'1ab56e83-25e3-44e8-a275-421485323110', N'RR001', N'Ygn', N'Pya', 0)
INSERT [dbo].[Tbl_Route] ([Id], [RouteName], [Origin], [Destination], [IsDelete]) VALUES (N'260664bb-6b78-4cba-ac71-ef715a8078f1', N'RR002', N'Y', N'P', 1)
INSERT [dbo].[Tbl_Route] ([Id], [RouteName], [Origin], [Destination], [IsDelete]) VALUES (N'483c49ed-222d-4d8f-911e-2bc9b4e2cfff', N'R009', N'Yangon', N'Mandalay', 0)
GO
INSERT [dbo].[Tbl_Schedule] ([Id], [BusId], [Date], [Fare], [ArrivalTime], [DepartureTime], [RouteId], [AvaliableSeat], [BookSeat], [IsDelete]) VALUES (N'2ba1836b-00af-421b-8620-b7ed549d8dc6', N'd0dd8663-6068-4aa1-a50a-1c91a4ac0b00', CAST(N'2026-03-17' AS Date), 20000, N'09:00', N'09:20', N'7d2bb73a-56db-4f8b-8cc6-253d767db016', 20, 0, 1)
INSERT [dbo].[Tbl_Schedule] ([Id], [BusId], [Date], [Fare], [ArrivalTime], [DepartureTime], [RouteId], [AvaliableSeat], [BookSeat], [IsDelete]) VALUES (N'8452dde1-459d-40a7-b1fe-47bfe50136d1', N'91c04042-53fa-498b-84cc-70de30ee8ef4', CAST(N'2026-03-26' AS Date), 25000, N'09:00', N'09:30', N'7d2bb73a-56db-4f8b-8cc6-253d767db017', 58, 2, 0)
INSERT [dbo].[Tbl_Schedule] ([Id], [BusId], [Date], [Fare], [ArrivalTime], [DepartureTime], [RouteId], [AvaliableSeat], [BookSeat], [IsDelete]) VALUES (N'b75387be-2bef-4afd-b41e-db6f70b31261', N'd0dd8663-6068-4aa1-a50a-1c91a4ac0b00', CAST(N'2026-03-18' AS Date), 40000, N'04:00', N'04:30', N'1ab56e83-25e3-44e8-a275-421485323110', 20, 0, 0)
GO
ALTER TABLE [dbo].[Tbl_Payment] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
